.cardSpacing {
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-left: 100px;
  width: 120vw;
  /* background-color: blue; */
}

@media only screen and (max-width: 800px) {
  .cardSpacing {
    padding-left: 80px;
  }
}
