.burgerMenu {
  display: flex;
}

.burgerMenu:hover {
  cursor: pointer;
}



.imagesForChannelSubs {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  object-fit: cover;
}


.copyright2 {
  width: 200px !important;
}

.firstItemOnList {
  background-color: #383838;
}

.listItems2 {
  width: 250px;
}

.listItems2:hover {
  cursor: pointer;
}

.sideBarBurgerMenu {
  margin: 0 -18px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
